{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'auth/css/auth.css' %}">
{% endblock head %}

{% block title %}Entrar{% endblock title %}

{% block content %}

<div class="content container-fluid d-flex flex-column justify-content-center">
    <div class="content-info d-flex flex-column">
        <h3>Bem-vindo de volta!</h3>
        <p>Receba respostas em minutos e termine a lição de casa mais rápido</p>
    </div>
    <div class="content-account">
        <div class="box-line d-flex align-items-center">
            <div class="line"></div>
            <span>Entrar</span>
            <div class="line"></div>
        </div>
        <form>
            <div class="mt-3">
                <input type="text" class="form-control" id="login" placeholder="Nome de usuário ou e-mail" autocomplete="off">
            </div>
            <div class="mt-3">
                <input type="password" class="form-control" id="password" placeholder="Senha" autocomplete="off">
            </div>
            <p id="check_result" class="mt-3"></p>
            <button onclick="login_ajax()" type="button" class="btn btn-primary mt-3 mb-3">Entrar</button>
        </form>
        <a href="">Esqueceu sua senha?</a>
        <p class="mt-3" >Ainda não tem uma conta?<a href="{% url 'register' %}"> Cadastra-se</a></p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'auth/js/scripts.js' %}"></script>
<script>
    function login_ajax(){
        var result = document.getElementById('check_result');
        result.style.color = 'red';
        
        data_temp = data_login();
        data_temp['csrfmiddlewaretoken'] = '{{ csrf_token }}';

        $.ajax({
            url: "{% url 'validate_login' %}",
            method: 'POST',
            data: data_temp,
            success: function(response){
                if(response){
                    response = JSON.parse(response);
                    console.log(response)
                    result.innerHTML = '';
                    setTimeout(() => {result.innerHTML = response['menssage']}, 100)
                }
                if (response['status'] == 'success')    
                    window.location.href = "{% url 'home' %}";
            },
            error: function(error){
                result.innerHTML = '';
                setTimeout(() => {result.innerHTML = 'Erro interno do site, tente novamente!'}, 100);
            }
        });
    }
</script>
{% endblock content %}